<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>item</title>
  <link rel="stylesheet" href="/item/item.css">
</head>
<body>
  	<div class="container" id="container">
		<form id="item_content">
			<div class="form-container sign-in-container fset">
				<h1>Create Idea</h1>
				{% if edit %}
				<input type="name" name='name' placeholder="idea name" value="{{item.name}}" required/>
				<input type="price" name="price" placeholder="목표 가격"value="{{item.price}}" required/>
				<input type="percent" placeholder="펀딩할 지분(%)" name='percent' value="{{item.percent}}" required />
				<input type="datetime-local" name="deadline" placeholder="마감일" value="{{item.deadline}}" required/>
				<input enctype="multiipart/formdata" id="image" name="image" value="{{item.img}}" accept="image/*" >
				<div class="buttonF">
					<button class='buttonT'type="submit"> 수정 </button>
					<button type="click" class='buttonT' id="delete"> 삭제 </button>
				</div>
				{% else %}
				<input type="name" name='name' placeholder="idea name" required/>
				<input type="price" name="price" placeholder="목표 가격" required/>
				<input type="percent" placeholder="펀딩할 지분(%)" name='percent' required />
				<input type="datetime-local" name="deadline" placeholder="마감일" required/>
				<input enctype="multiipart/formdata" id="image" name="image" accept="image/*" >
				<button type="submit">만들기</button>
				{% endif %}

			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-right">
						{% if edit %}
						<textarea class="form-control" placeholder="Comments" id="floatingTextarea2" name='describe'>{{item.explanation}}</textarea>
						{% else %}
						<textarea class="form-control" placeholder="Comments"  id="floatingTextarea2" name='describe'></textarea>
						{% endif %}
						<label for="floatingTextarea2">Comments</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div>
		<form action="/" method="GET" class='HomeContainer' >
			<input type='submit' value="HOME" id='homeButton'>
		</form>
	</div>
	<script src="/item/item.js"></script>
</body>
</html>