<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{item.name}}</title>
	<link rel="stylesheet" href="itemDetail.css">
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
	
</head>
<body>
	<main class="container">

	<!-- Left Column / Headphones Image -->
	<div class="left-column">
		<img data-image="black" src="{{item.img}}" alt="">

	</div>


	<!-- Right Column -->
	<div class="right-column">

		<!-- Product Description -->
		<div class="product-description">
			<span><a href='/'> HOME </a></span>
			<h1>{{item.name}}</h1>
			<p>{{item.describe}}</p>
		</div>

			<!-- Product Configuration -->
		<div class="product-configuration">

			<!-- Cable Configuration -->
			<div class="cable-config">
				<span>Purchace Percent</span>
				<div class="textbox">
				  <input type="number" min='1', max='{{item.percent}}' id="percent_input" onkeyup='getPercent()'>
				</div>
			</div>
		</div>

		<!-- Product Pricing -->
		<p id='price' style="display:none;">{{item.price}}</p>
		<div class="product-price">
		  <a href="#" class="cart-btn" onclick='requestPay()'>Buy</a>
		</div>
	</div>
	<script src='itemDetail.js'></script>
	<script src="payment.js"></script>
	</main>
</body>	