<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="item/itemList.css">
</head>
<body>
	<div>
		<h1>
			Profile
		</h1>
	</div>
	<div>
		<form method='GET'>
			<ol class="large-numbers">
				<li><a href="/{{user.id}}"> My Profile </a></li>
				<li> My Items List </li>
				<li> My Q&A List </li>
			</ol>
			<br>
			<br>
			<ul>
				<li><a href='/'>
				HOME
					</a></li>
			</ul>
		</form>
	</div>
</body>
