<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>item</title>
  <link rel="stylesheet" href="qAndA.css">
</head>
<body>
  	<div class="container" class="container" >
		<form action="/qAndA" method="POST" id="qForm">
			<div class="form-container sign-in-container fset">
				<h1>Question</h1>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-right">
						 <textarea class="form-control" placeholder="Comments"  id="floatingTextarea2" name='question' required></textarea>
						 <input type="submit" value="Question" onclick="onQuestion()">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div>
		<form action="/" method="GET" class='HomeContainer' >
			<input type='submit' value="HOME" id='homeButton'>
		</form>
	</div>
</body>
</html>
