<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="user.css">
    
</head>
<body>
    <div class="container">
        <h2>User Profile</h2>
        <form id="userData">
            <label for="name">Name: {{ user.name }}</label>
            <input type="text" id="username" name="name" placeholder="New Name">

            <label for="password">Password </label>
            <input type="password" id="password" name="password" placeholder="New Password">

            <button type="submit">Save Profile</button>
        </form>
        <form style="margin-top: 20px; ">
            <button type="submit" class='b2' onclick='userDelete()'>Delete Profile</button>
        </form>
    </div>
    <script src="user.js"></script>
</body>
</html>
