<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyQ&AList</title>
  <link rel="stylesheet" href="/qAndA/qAndAList.css">
</head>
<body>
	<div>
		<h1>
			{{qAndAs[0].user_name}}
		</h1>
	</div>
	<div>
		<form method='GET'>
			<ol class="large-numbers">
				{% for qa in qAndAs %}
					<li><a href='../{{qa.QA_id}}'> {{qa.question}} </a></li>
				{% endfor %}
			</ol>
			<br>
			<br>
			<ul>
				<li><a href='/'>
				HOME
					</a></li>
			</ul>
		</form>
	</div>
</body>
